#/MLslippagesrc/MLslippage/*/*.*
#/MLslippagesrc/MLslippage/*/*/*.*
#/MLslippagesrc/MLslippage/.*/*
#/MLslippagesrc/MLslippage/*/*
/MLslippagesrc/MLslippage/*/**
/MLslippagesrc/MLslippage/*.np*
/MLslippagesrc/MLslippage/*.pyc
/MLslippagesrc/MLslippage/*.zip
.idea
